@model Etkezde.Models.OrderItemViewModel

@{
    ViewData["Title"] = "Zabálj ingyen!";
}

<div class="text-center">
    <h1 class="display-4">Kajálda</h1>

        <div class="Name">
                    @if(!string.IsNullOrEmpty(Model.EmployeeName))
                    {
                            <div class="alert alert-primary">
                                @Model.EmployeeName
                            </div>
                    }
                    else
                    {
                        <div>KD</div>
                    }
        </div>

        <div class="row">
            <div class="col">
                <form method="POST" asp-controller="Home" asp-action="Index">
                        <label asp-for="EmployeeId">Employee Id</label>
                        <input asp-for="EmployeeId" />
                        <input type="submit" />
                </form>
                

                <h4>Etelek</h4>
                <div class="itemek">
                    <ul>
                    @if(ViewBag.Basket != null)
                    {
                        foreach (var item in ViewBag.Basket)
                        {
                            <li>@item.Item1 @item.Item2</li>
                        }
                    }
                    </ul>
                </div>
            </div>
           
            <div class="col">
                <form method="POST" asp-controller="Home" asp-action="OnPostOrderItems">
                    <label asp-for="ItemName">Termek</label>
                    <input asp-for="ItemName" />

                    <label asp-for="Quantity">Mennyiseg</label>
                    <input asp-for="Quantity" />

                    <input type="submit" />
                </form>
            </div>
        </div>
</div>
